$primary-blue: #6e6eff;
$primary-green: #5bfe60;
$primary-yellow: #fffa1e;
$primary-gray: #453740;
$primary-black: #000;
$primary-white: #fff;
$secondary-blue: #91f8ff;
$secondary-pink: #ffa0ff;
$secondary-orange: #ffa082;
$secondary-light-gray: #eeeeee;
